@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Parkinsans:wght@300..800&family=Unbounded:wght@200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ececec;
  --foreground: #171717;
  --secondary: #e52b50;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Parkinsans, Arial, Helvetica, sans-serif;
}
